@charset "utf-8";
/* CSS Document */

body {
 	background-color: #12002A;
	margin: 0;
}

cite {
	font-family: Roboto;
	font-size: .75em;
	font-weight: 200;
	color: #ffffff;
	margin-top: 1.5%;
	text-align: center;
	display: block;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: Roboto;
	font-size: 6.5em;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 1.5%;
}

h2 {
	font-family: Roboto;
	font-size: 2.25em;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	padding-bottom: 0px;
	margin-top: 1.5%;

}

h3 {
	font-family: Roboto;
	font-size: 1.75em;
	font-weight: 400;
	color: #ffffff;
	padding-top: 2%;
	padding-bottom: 0%;
	margin-top: 1%;
	margin-bottom: 1%

}

h4 {
	font-family: Roboto;
	font-size: 1.75em;
	font-weight: 350;
	color: #ffffff;
	text-align: center;
	margin-top: 1%;
}

p {
	font-family: Roboto;
	font-size: 1.5em;
	font-weight: 200;
	color: #ffffff;
	padding-top: 0%;
	padding-bottom: 0%;
	margin-top: 1%;
	margin-bottom: 2%
}

address {
	font-family: Roboto;
	font-size: 1em;
	font-weight: lighter;
	color: #ffffff;
	margin-top: 3%;
	text-align: center;
}

a {
	color: goldenrod;
	font-weight: bold;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

img {
	display: block;
	margin: auto;
}

footer {
	background-color: #3821A1;
	/* Code to fix position of element on the bottom of the screen
	position: fixed; */
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	padding: .5% 0%;
	
}

q {
    font-family: Roboto;
    font-size: 2.5em;
    font-weight: 200;
    font-style: italic;
    color: #ffffff;
    text-align: center;
	margin: auto;
	display: block;
	padding: 4% 2% 6% 2%
}

section {
	padding: 1% 20%;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.leftImage {
	float:left;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-top: 40px;
}

.rightImage {
	float:right;
	padding-bottom: 25px;
	padding-top: 40px;
	padding-left: 50px;
}

header {
    padding: 2% 20% 2%;
}

a.button {
background-color: goldenrod; 
color: white;
text-decoration: none;
font-size: 1.2em;
text-align: center;
display: inline-block;
padding: 1.5% 2%;
font-weight: bold;
font-family: Roboto;
border-radius: 10px;
margin: 6% 1.5% 2%
}

a.button:hover {
	background-color: white;
	color: goldenrod;
}

hr {
	border: 5px solid goldenrod;
	margin: 1% 20%;
	border-radius: 2px;
}
